
body {
	border: 2px solid #8face3;
	background-color: #ffffff;
	padding: 0px;
	margin: 10px;
	
	min-height: 500px;
	font-family: Arial, sans-serif;
	position: relative;

	overflow-y:scroll;

	text-align: justify;
}

h1.page-wip {
	font-size: 20px;
	color: #600;
}

h1, h2, h3 {
	margin: 0px;
	padding: 5px 0px 2px 0px;
	border: 0px;
}

p {
	margin: 4px 0px 4px 0px;
}

.people-list {
	line-height: 1.3em;
}


.mission-cont {
	padding-right: 199px;
}

.mission {
	text-align: center;
	border: 2px solid #88f;
	padding: 8px;
}

.obvious { font-size: 80%; }
.legend { font-size: 80%; }
.thewarning1 { color: #500; }

.systems_comparsion { font-size: 12px;}


.systems_comparsion .y { background-color: #6f6; font-size: 15px; }
.systems_comparsion .h { background-color: #FFFF00;font-size: 15px; } 
.systems_comparsion .w { background-color: #cf8; font-size: 15px;}

ul.layers { font-style: normal; }
ul.layers em, b.cool { font-size: 120%; font-style: normal; color: #008;}

input[type="checkbox"]#button-layers + * {display:none;}
input[type="checkbox"]#button-layers:checked + * {display:inherit; border: 1px dashed #aaa;}
/* input[type="checkbox"]#button-layers:checked + * {display:inherit; background:#DFE8FA; border: 1px dashed #ccc;} */
input[type="checkbox"]#button-layers:checked + * {display:inherit;}

/* #DFE8FA */
input[type="checkbox"]#button-details2 + * {display:none;}
input[type="checkbox"]#button-details2:checked + * {display:inherit; border: 1px dashed #aaa;}
input[type="checkbox"]#button-details2:hover + * {background:#EFF8CA;}

.freesite { font-size: 80%; }
.freesite { text-decoration: none; }
.freesite i { font-size: 2px; }


#hover1 div { display:none !important; }
#hover1 span { color:#008; }
#hover1:hover span { display:none !important; }
#hover1:hover div { display:block !important;  }
#hover1:hover { border: 1px dashed #888; }


#content div { margin: 8px 0 8px 0; }

#bookmark {
	float: right;
	background-color: #8face3;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin-right: 10px;
}

#logo {
	background-image: url("images/headerline.png");
	text-align: left;
}

.clear { clear:both; } 
div.attributes { clear:both; } 
.attributes ul { margin:4px 4px 4px 1em; padding:0; list-style-type: disc !important; }
.attributes ul li { float: left; margin: 0px 25px 0px 0px; }  
.attributes ul li * { padding:0; margin:0; }
.attributes ul li em { color: #400; background-color: #c8c8ff;  }


#breadcrumbs div { float: left; height: 32px; margin:0; padding:0;}

#breadcrumbs div div { margin: 7px 0 0 0; padding: 0 8px 0 8px; }

div.tab_breadcrumb { margin-right: 40px !important; }

#breadcrumbs {
	position: relative;
	top: -0px; /* move-up-A */
	border-bottom: 2px solid #8face3;
	/* text-indent: 35px; */
	margin: 0px;
	padding: 2px 0 0 0;
	background: #ddf;
	height: 32px;
}

#breadcrumbs a {
	color: black;
	text-decoration: none;
}

#breadcrumbs a:visited {
	color: black;
}

#breadcrumbs a:hover {
	color: #134dba;
}

#navbar {
	z-index: 2;
	position: relative;
	top: -2px; /* move-up-A */
	float: right;
	clear: left;
	background-color: #ffffff;
	padding-right: 5px;
	border-left: 2px solid #8face3;
	border-bottom: 2px solid #8face3;
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
}

#navbar ul {
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	margin-left: 5px;
}

.nav1 {
	background-color: #ffffff;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
}

.nav2 {
	background-color: #8face3;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
}


#navbar a {
	color: black;
	text-decoration: none;
	margin-right: 0px;
	width: 100%;
	display: block;
	padding-right: 20px;
	padding-left: 9px;
}

#navbar a:visited {
	text-decoration: none;
	color: black;
}

#navbar a:active {
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	text-decoration: none;
	color: #022c79;
	
}



#content {
	position: relative;
	padding: 10px;
	padding-bottom: 0px;
	top: 5px;
	padding-top: 0px;
	margin: 0px;
}

.snazzbox {
	background-color: #dfe8fa;
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
}

.boxhead {
	background-color: #8face3;
	margin: 0px;
	padding: 5px;
	border-bottom: 1px solid black;
}

.boxhead h2 {
	display: inline;
	font-size: 100%;
}

.container {
	padding: 0px;
	border: 1px solid black;
	border-bottom: none;
	margin: 20px;
	background-color: #dfe8fa;
}

.container:hover {
	background-color: #d2dcf1;
	/* d2dcf1 */
}

.innerbox {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.innerinnerbox {
	padding: 10px;
	padding-bottom: 0px;
}

h2 {
	border-bottom: 2px solid #8face3;
	margin-top: 5px;
}

#bookmark {
	background-color: #ffffff;
	position: absolute;
	bottom: -1em;
	left: 20px;
}

#bookmark a {
	text-decoration: none;
	color: black;
	font-size: 70%;
}

#footer {
	font-size: 70%;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.vcenter {
	vertical-align: middle;
}

